@media screen and (min-width: 736px ) {
 header {
    -webkit-display: grid;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2;
 }
 .logo {
   grid-column: 1 / 2;
   grid-row: 1 / 3;
 }
 .logo-2 {
   grid-column: 2 / 3;
   grid-row: 1;
 }
 nav {
   grid-column: 2 / 3;
   grid-row: 2;
 }
 main{
    -webkit-display: grid;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
 }
 .slider {
    grid-column: 1 / 2;
    grid-row: 1;
 }
 .about {
    grid-column: 1 / 2;
    grid-row: 1;
 }
 .membership {
    grid-column: 1 / 2;
    grid-row: 1;
 }
 .member {
    grid-column: 1 / 3;
    grid-row: 2;
 }
 .aside_1 {
    grid-column: 2 / 3;
    grid-row: 1;
 }
 .content_1 {
   grid-column: 1 / 2;
   grid-row: 2;
 }
.aside_2 {
    grid-column: 2 / 3;
    grid-row: 2;
}
footer {
   display: grid; 
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
}
}
@media screen and (max-width: 735px) {
}
