@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Merriweather:300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Poppins:300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i);
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*,*::before, *::after {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
   text-decoration: none;
}
ul {
   list-style: none;
}
html {
   background-image: url(../media/background.png);
   background-size: cover;
   background-repeat: no-repeat;
}
body {
}
header, main, footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}
.logo {
   background-image: url(../media/white.jpg);
   text-align: center;
   font-family: 'Poppins', sans-serif;
   color: #1c3a53;
}
.logo img {
  width: 80%;
  height: 12em;
}
.logo h1 {
}
.logo-2 {
  background-image: url(../media/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 12em;
  text-align: right;
}
.logo-2 ul {
   display:  block;
   position: relative;
   top: 5em;
}
.logo-2 ul li {
   display: inline-block;
}
.logo-2 ul li a {
    display: block;
    margin: 0 2vw; 
    padding: 20px; 
    background: linear-gradient(to bottom, rgba(96,103,104,0.3) 0%,rgba(187,187,187,0.3) 3%,rgba(187,187,187,0.3) 27%,rgba(0,0,0,0.3) 28%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.3) 73%,rgba(75,80,81,0.3) 88%,rgba(0,0,0,0.3) 97%,rgba(0,0,0,0.3) 100%);
   color: #FFF;
   box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 2px 6px rgba(0, 0, 0, 0.5), 0 10px rgba(0, 0, 0, 0.05) inset;
}
nav {
}
nav ul {
   display: block;
   background:linear-gradient(to bottom, #eb1c2b 0%, #5e0b11 100%);
   text-align: center;
}
nav ul li {
   display: inline-block;
}
nav ul li a {
    display: block;
    padding: 1em 2em;
    color: #FFF;
    font-family: 'Saira Extra Condenced', sans-serif;
     font-size: 1.2vw;
}
nav ul li a:hover {
     background: linear-gradient(to bottom, #177bbe 0%, #00538d 100%); 
     text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
}
/*========== content ========*/
 
.slider {
  width: 100%;
}

.slider video {
  max-width: 54vw;
  margin-left: auto;
  margin-right: auto;
  height: 35em;
}
.aside_1 {
  background-image: url(../media/skills.jpg);
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  width: 100%;
  text-align: center;
  height: 35em;
}
.aside_1 h2 {
  color: #FFF;
   position: relative;
   top: 10em;
}
.content_2 {
  background-color: lightblue;
  width: 100%;
  height: 22em;
  text-align: center;
}
.content_2 .content {
 position: relative;
 top: 5em;
}
.content_2 .content h1 {
 color: blue; 
 font-size: 3em;
 padding: 20px 0;
}
.content_2 .content p {
}
.member {
  background-color: lightblue;
  width: 100%;
  height: 40em;
  padding: 10px;
}
.member .content {
}
.member .content h3 {
 color: blue; 
 font-size: 2em;
 padding: 20px 0;
}

/*============== ABOUT =========*/
 .about {
  background-image: url(https://www.skillsusa.org/wp-content/uploads/2014/03/About-367x160.jpg);
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  width: 100%;
  text-align: center;
}
 .membership {
  background-image: url(https://www.skillsusa.org/wp-content/uploads/2014/03/MembershipResources-367x160.jpg);
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  width: 100%;
  text-align: center;
}

.about .content p {
  position: relative;
  top: 5em;
  font-size: 2em;
  padding: 50px;
  color: #FFF;
}
.about .content h1 {
  display: block;
  background:linear-gradient(to bottom, #177bbe 0%, #00538d 100%);
  padding: 20px;
  color: #FFF;
}
.membership .content p {
  position: relative;
  top: 3em;
  font-size: 1.5em;
  padding: 20px;
  color: #FFF;
  max-width: 22em;
  left: 18em;
  background: rgba(0,0,0,0.2);
  border-radius: 10px;
}
.membership .content h1 {
  display: block;
  background:linear-gradient(to bottom, #177bbe 0%, #00538d 100%);
  padding: 20px;
  color: #FFF;
}

/*========== FOOTER ==========*/
footer {
 background-color: #e2eef7;
  padding: 10px;
}
footer .footer-logo {
   text-align: center; 
} 
footer .social {
 text-align: center;
}
footer .social ul {
  position: relative;
  top: 5em;
}
footer .social ul li {
   display: inline-block;
}
footer .social ul li i {
   font-size: 5em;
}
footer .social .fa-facebook-official {
   color: #00F;
}
footer .social .fa-twitter-square {
   color: #0084b4;
}
footer .copy-right {
  text-align: center;
  position: relative;
  top: 5em;
}
